.o_edit_mode_banner {
	text-align: center;
	background: linear-gradient(45deg, #714B67, #5e4a59);
	border: 2px solid #714B67;
	color: white;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
}

